{% extends "base.twig" %}
{% block header %}
  {% include 'partial/header.twig' with {
    header_dark : false
  } %}
{% endblock %}

{% block content %}
  <div class="archive -404">
    <div class="notFoundImages">
      <img class="illustration middle" src="/wp-content/themes/orpheus/static/images/illustration_heroes.png"/>
      <img class="illustration right" src="/wp-content/themes/orpheus/static/images/illustration_lighthouse.png"/>
    </div>
    <div class="notFoundText">
      <div class="notFoundTextInner">
        <h1 >
          Page coming soon.
        </h1>
        <h2 class="subtitle">
          Our devs are fighting epic battles.
        </h2>
        <hr></hr>
        <p>
          Need something now? Invoke a <a href="mailto:outreach@chs.harvard.edu">website muse</a> or make your own odyssey
          <a href="/">back to the homepage</a>.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
