{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% extends "base.twig" %}

{% block header %}
  {% include 'partial/header.twig' with {
    header_dark : false
  } %}
{% endblock %}

{% block content %}
  <div class="publications publicationsLayout">
    {% include 'partial/publications-sidebar.twig' %}

    <main class="publicationsContent">

      {% include 'partial/books-nav.twig'  with { alphabetical_nav: true } %}

      <div class="booksList termsList">
        <h2 id="a_f" class="booksSectionHeader">A - F</h2>
        {% include 'partial/term-list.twig' with { terms: terms_a_f } %}

        <h2 id="g_l" class="booksSectionHeader">G - L</h2>
        {% include 'partial/term-list.twig' with { terms: terms_g_l } %}

        <h2 id="m_r" class="booksSectionHeader">M - R</h2>
        {% include 'partial/term-list.twig' with { terms: terms_m_r } %}

        <h2 id="s_z" class="booksSectionHeader">S - Z</h2>
        {% include 'partial/term-list.twig' with { terms: terms_s_z } %}
      </div>
    </main>

  </div>
{% endblock %}
