{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% extends "base.twig" %}

{% block header %}
	{% include 'partial/header.twig' with { header_dark: false } %}
{% endblock %}

{% block content %}
  <div class="archive archiveLayout archiveLayoutSearch">

    <main class="archiveContent">
      <form class="textserchForm" id="search_form" action="/search">
				<div class="searchHead">
          <input id="header_external_search" class="searchHeadInput" type="text" placeholder="Search for topics, articles, and authors . . ." name="s" value="{{request.get.s}}"/>
					<button>
						Search
					</button>
				</div>
      </form>

			<h1 class="searchResultsH1">
				Search Results
			</h1>
			<h4>
				<em class="resultsCount">{{posts.found_posts}} results found</em>
			</h4>


    	{% include 'partial/list-vertical.twig' with { condensed : true } %}


    	{% include 'partial/pagination.twig' %}
    </main>

  </div>
{% endblock %}
