<div id="book_share_links" class="shareLinks" data-html2canvas-ignore="true">
  <div class="postHeadLinks">
    <a href="https://twitter.com/intent/tweet?text={{post.title}} at {{post.link}}" target="_blank" rel="noopener noreferrer">
      <i class="mdi mdi-twitter"></i>
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{post.link}}" target="_blank" rel="noopener noreferrer">
      <i class="mdi mdi-facebook"></i>
    </a>
    <a href="mailto:?subject={{post.title|striptags}}&body={{post.link}}" target="_blank" rel="noopener noreferrer">
      <i class="mdi mdi-email"></i>
    </a>
  </div>
</div>
