<footer data-html2canvas-ignore="true">
  {% if is_milmanparry %}
    <div class="mpcBorder"></div>
  {% else %}
    <div class="designBorder"></div>
  {% endif %}
  <div class="footerLeft">
    <a href="/">
      <img class="logo" src='/wp-content/themes/orpheus/static/images/iip_logo.png' />
    </a>
  </div>
  <div class="footerRight footerLinks">
    <div class="footerRow footerLegal">
      <a href="/">EU/EEA Privacy Disclosures</a>
      <a href="/cookie-policy">Cookie Policy</a>
      {% if not is_milmanparry and not is_newalexandria %}
        <a href="/">Privacy Notice</a>
      {% endif %}
    </div>
</footer>
