<section class="events flex ">
  <div class="feature-text">
    <a href="/">
      <h3>
        Reading Greek Tragedy Online, Wednesdays
      </h3>
    </a>
    <div class="postMeta">
      <span class="postDate">
        {{post.date('j F Y') }}
        10:00 - 11:30am, 29 Jul
      </span>

      <span class="description">
        Join us for "The Chorus," a special edition of Reading Greek Tragedy Online focusing on choral passages and performance, hosted by Joel Christensen (Brandeis University) with special guest with Anna S. Uhlig (University of California, Davis).
        Information about featured performers is coming soon. . . .
      </span>
    </div>

    <a href="/">
      <button class="chsButton -accentButton -dropShadow">
        Register
      </button>
    </a>
  </div>
  <a href="/">
    <div class="featured-image"></div>
  </a>

</section>
