{% if posts.pagination.pages is not empty %}
    <nav class="pagination-block">
        <ul class="pagination">

            {# First #}
            {% if posts.pagination.pages|first and posts.pagination.pages|first.current != true %}
                <li class="first btn">
                    <a href="{{ posts.pagination.pages|first.link }}">
                      <i class="mdi mdi-chevron-double-left"></i>
                      First
                    </a>
                </li>
            {% else %}
                <li class="first btn disabled">
                    <button disabled>
                      <i class="mdi mdi-chevron-double-left"></i>
                      First
                    </button>
                </li>
            {% endif %}

            {# Previous #}
            {% if posts.pagination.prev %}
                <li class="prev btn">
                    <a href="{{ posts.pagination.prev.link }}">
                      <i class="mdi mdi-chevron-left"></i>
                      Previous
                    </a>
                </li>
            {% else %}
                <li class="prev btn disabled">
                    <button disabled>
                      <i class="mdi mdi-chevron-left"></i>
                      Previous
                    </button>
                </li>
            {% endif %}

            {# Pages #}
            {% for page in posts.pagination.pages %}
                {% if page.link %}
                    <li>
                        <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
                    </li>
                {% else %}
                    <li class="current">
                        <span class="{{ page.class }}">{{ page.title }}</span>
                    </li>
                {% endif %}
            {% endfor %}

            {# Next #}
            {% if posts.pagination.next %}
                <li class="next btn">
                    <a href="{{ posts.pagination.next.link }}">
                      Next
                      <i class="mdi mdi-chevron-right"></i>
                    </a>
                </li>
            {% else %}
                <li class="next btn disabled">
                    <button disabled>
                      Next
                      <i class="mdi mdi-chevron-right"></i>
                    </button>
                </li>
            {% endif %}

            {# Last #}
            {% if posts.pagination.pages|last and posts.pagination.pages|last.current != true %}
                <li class="last btn">
                    <a href="{{ posts.pagination.pages|last.link }}">
                      Last
                      <i class="mdi mdi-chevron-double-right"></i>
                    </a>
                </li>
            {% else %}
                <li class="last btn disabled">
                    <button disabled>
                      Last
                      <i class="mdi mdi-chevron-double-right"></i>
                    </button>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}
