<ul class="programsNavigation">
  {% for item in programs_navigation.items %}
    <li class="{% if item.children | length %}accordionMenuItem{% endif %} {{ item.classes|join(' ') }}">
      <a class="{% if item.children | length %}accordionMenuToggle{% endif %} {% if loop.first %}-active{% endif %}" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}
        {% if item.children | length %}
          <i class="mdi mdi-chevron-down"></i>
        {% endif %}
      </a>
      {% if item.children | length %}
        <ul class="accordionMenu -hidden" role="menu">
          {% for child in item.children %}
            <li>
              <a role="menuitem" href="{{item.link}}">
                {{child.title}}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
