<aside id="main_sidebar" class="mainSidebar " data-html2canvas-ignore="true">

  {% if programs_sidebar %}
    {% include 'partial/programs-nav.twig' %}
  {% endif %}

  {% if not is_newalexandria %}
    {% if chapters %}
      <div class="sidebarInner">

        <a
          class="chsButton -accentButton -emailButton"
          href="/read/{{book.slug}}">
          <i class="mdi mdi-book-open-blank-variant"></i>
          Read as book
        </a>

        <br>
        <h4 class="overline sidebarTitle">Table of Contents</h4>
        <ul class="sidebarPosts -toc">
          {% for chapter in chapters %}
            <li>
              <a href="/chapter/{{chapter.slug}}">
                {{chapter.title}}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if post and post.type != "page" %}
      <div class="sidebarInner">
        <h4 class="overline sidebarTitle">
          Continue learning
        </h4>
        <div class="sidebarPosts">
          {% if related_posts %}
            {{related_posts}}
          {% elseif random_posts %}
            {% for post in random_posts %}
              {% include "partial/tease-sidebar.twig" %}
            {% endfor %}
          {% endif %}
        </div>
      </div>

    {% elseif sidebar_posts and sidebar_posts|length %}
      <div class="sidebarInner">
        <h4 class="overline sidebarTitle">
          Continue learning
        </h4>
        <div class="sidebarPosts">
          {% for post in sidebar_posts %}
            {% include "partial/tease-sidebar.twig" %}
          {% endfor %}
        </div>
      </div>

    {% endif %}
  {% endif %}

  {% if not is_ilexfoundation %}
    {% include 'partial/sidebar-email-signup.twig' %}
    <div class="sidebarInner">
      {% include 'partial/sidebar-social-links.twig' %}
    </div>
  {% endif %}
</aside>
