<ul class="subnav">
  {% for item in subnav.items %}
    <li class="{{ item.classes|join(' ') }}">
      <a class="{% if loop.first %}-active{% endif %}" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
    </li>
  {% endfor %}
</ul>
