<div class="teaseActionLinks">
  <a href="{{post.link}}#download" class="readMore">
    <i class="mdi mdi-file-pdf-outline"></i>
    &nbsp; Download
  </a>
  <a href="{{post.link}}#comments" class="readMore">
    <i class="mdi mdi-comment-outline"></i>
    {% if post.comments | length %}
      &nbsp;
      {{post.comments|length}}
    {% endif %}
    &nbsp; Comments
  </a>
</div>
