<div class="pubListItem">
  <div class="pubListItemImage">
    <a class="pubLink" href="/book/{{post.slug}}">
      <div class="itemImageTeaser">
        <img src="{{post.thumbnail.src}}" alt=""/>
      </div>
    </a>
  </div>
  <div class="itemInfoTeaser">
    <a class="pubLink" href="/book/{{post.slug}}">
      <h2 class="itemTitle">{{post.title}}</h2>
      <h4 class="itemSubtitle">{{post.subtitle}}</h4>
    </a>
    <p class="itemAuthor">{{post.byline}}</p>
    <div>
      <p class="itemDesc">{{post.excerpt}}</p>
    </div>
    <div class="itemTeaserDetail itemTeaserDetailSeries">
      <span class="itemSeries">{{post.series}}</span>
    </div>
    <div class="itemTeaserDetail">
      <span class="itemDetailText">ISBN</span><span class="itemDetailText">
        {{post.isbn}}
      </span>
    </div>
    <div class="itemTeaserDetail">
      <span class="itemDetailText">Publication Date:</span><span class="itemDetailText">
        {{post.publicationdate}}
      </span>
    </div>
    <div class="itemTeaserDetail">
      <a href="{{post.external_link}}" target="_blank" rel="noopener noreferrer">
        <button class="galleryButton">
          <span class="galleryButtonText">View at Harvard University Press</span></button>
      </a>
    </div>
  </div>
</div>
