<ul class="termList">
  {% for term in terms %}
    <li>
  <a href="/{% if term.taxonomy == "author" %}authors{% else %}{{term.taxonomy}}{% endif %}/{{term.slug}}">
        {{term.name}}
      </a>
    </li>
  {% endfor %}
</ul>
