/**
 * CHS main site custom styles
 */

.-chs.-mainSite.home .headerExternal.headroom.headroom--top {
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 3px;
}

.-chs.-mainSite.home .headerExternalDefault {
  height: 90px;
  background: #fff;
}

.-chs.-mainSite.home .headerExternalDefault .dropdownHeaderMenu {
  top: 4.5rem;
}

.-chs.-mainSite.home .headerExternalDefault .headerLogo img {
  height: 55px;
}

.archive .homepage-feature {
  align-items: center;
  justify-content: center;
  max-width: 990px;
  margin: 0 auto;
  padding: 3em;
  background: #fff;
  position: relative;
  top: -3em;
  z-index: 1;
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}

.homepage-feature .featured-image {
  width: 17em;
  height: 21em;
  background-image: url(/wp-content/themes/orpheus/static/images/William_Sanders_Scarborough_Portrait.jpg);
  background-size: cover;
  margin-right: 2em;
  background-position: center;
}

.homepage-feature a {
  text-decoration: none;
}

.homepage-feature h3 {
  font-size: 1.6em;
}

.homepage-feature .postMeta {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #bfbfbf;
}

.homepage-feature .postDate {
  padding: 0.3em 0;
  font-size: 1.2em;
}

.homepage-feature .postMeta .description {


  text-transform: none;
  color: #444;
  font-size: 1em;
  padding: 1em 0;
}

.homepage-feature .postMeta span {
  display: block;
  width: 100%;

}

.homepage-feature .postMeta .byline {
  text-transform: none;
  color: #666;
  font-size: 1.2em;
  padding: 0.4em 0 1.3em;
}

.archive section.events {
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
  margin: 0 auto;
  z-index: 1;
  overflow: hidden;
  padding: 3em 0 3em 5em;
}

.archive section.events a {
  text-decoration: none;
}

.events .feature-text {
  max-width: 720px;
}

.events .postMeta {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #bfbfbf;
}

.events .postDate {
  padding: 0.3em 0;
  font-size: 1.5em;
}

.postDate.-eventDate {
  font-size: 18px;
}

.events .postMeta span {
  display: block;
  width: 100%;

}

.events .postMeta .description {
  text-transform: none;
  color: #444;
  font-size: 1em;
  padding: 1em 0;
}

.events .featured-image {
  width: 33em;
  height: 22em;
  margin-left: 3em;
  background-image: url(/wp-content/themes/orpheus/static/images/example_background_24.jpg);
  background-size: cover;
  background-position: center;
}

footer.mainSiteFooter {
  background: #666;
}

.footerMenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footerMenu a {
  color: #fff;
}

footer.mainSiteFooter .logo {
  filter: grayscale(1) brightness(5);
}

footer.mainSiteFooter .footerLegal a {
  color: #fff;
}
