/***
 *
 *        _
 *    ___| |__  ___
 *   / __| '_ \/ __|
 *  | (__| | | \__ \
 *   \___|_| |_|___/
 *
 *
 *   A Wordpress stylesheet building on the CHS design system
 *
 **/
/**
 * Variables and global styles
 */

@font-face {
    font-family: 'Silk Serif';
    src: local('Silk Serif Regular'), local('Silk-Serif-Regular'),
        url('/wp-content/themes/orpheus/static/fonts/SilkSerif-Regular/SilkSerif-Regular.woff2') format('woff2'),
        url('/wp-content/themes/orpheus/static/fonts/SilkSerif-Regular/SilkSerif-Regular.woff') format('woff'),
        url('/wp-content/themes/orpheus/static/fonts/SilkSerif-Regular/SilkSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

:root {
  --primary-color: #87806C;
  --secondary-color: #666256;
}

body,  html {
  background: #E3E0DC;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

.-hidden {
  display: none !important;
}

a {
  text-decoration: none;
}

em, .italic, i {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

#wpadminbar .display-name {
  color: #fff;
}

.chsButton {
  color: #fff;
  margin: 10px auto;
  padding: 20px 30px;
  border-radius: 5px;
  transition: all 100ms ease-in-out;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.chsButton.-accentButton {
  background: var(--primary-color);
}

.chsButton.-accentButton:hover {
  background: #551819;
}

.chsButton.-outline {
  border: 1px solid #222;
  color: #222;
}

.chsButton.-dropShadow {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
}

.chsButton.-emailButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.7em 1.7em;
  color: #fff;
}

.chsButton.-emailButton:hover {
}

.chsButton.-emailButton i {
  margin-right: 10px;
}

.chsButton.-emailButton i::before {
  font-size: 24px;
}

.designBorder {
  background: url("/wp-content/themes/orpheus/static/images/border.png");
  height: 2rem;
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-size: 2rem;
  opacity: 0.03;
  display: none;
}

.-mainSite .designBorder {
  opacity: 0;
}

.headerExternalSiteMenuButton {
  padding-right: 20px;
  padding-top: 20px;
}

.posts {
  width: 90%;
  margin: 0 auto;
}

.avatarChip {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-size: cover;
  background-image: url("https://kleos.chs.harvard.edu/wp-content/uploads/2020/02/IMG_8122_v2.png");
  border: 1px solid #eee;
  margin-right: 20px;
}

body.logged-in.admin-bar .headerExternal {
  top: 0px;
}

section.featuredSection {
  padding: 10px 0 60px;
}

.archive section.volumesSection {
  padding-top: 2em;
  padding-bottom: 0;
}

.archive section.volumesSection .posts.-horizontalList {
  padding-bottom: 6em;
}

section.-altBackground {
  background: #D8D8D8;
}

.publicationSectionInner {
  max-width: none;
  margin: 0 auto;
  padding: 3em 0;
}

super {
  vertical-align:super;
  font-size: 12px;
}

sup {
  vertical-align:super;
  font-size: 12px;
}

sub {
  vertical-align: sub;
  font-size: 12px;
}


.illustration {
  filter: grayscale(1);

}

/**
 * Header
 */
.headerMenu {
  position: absolute;
  padding: 90px 0 60px;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.96);
  z-index: 1;
  max-height: 100vh;
  height: auto;
  overflow: hidden;
  display: none;
  box-shadow: #000 0px 0px 20px;
  transition: all 1s ease;
}

.headerLogo img {
  margin-top: 2px;
  margin-right: 5px;
  border-radius: 5px;
  height: 30px;
}

header.-dark .headerLogo img {
  filter: grayscale(100) brightness(10);
}

header.-dark .headerLogo:hover img {
  filter: none;
}

.home header .menuButton {
  border-radius: 4px;
  width: 40px;
  height: 40px;
  padding: 8px;
  opacity: 0.9;
}

.home header .menuButton:hover {
  opacity: 1;
}

.home header .menuButton svg {
  height: 1.1rem;
  width: 1.1rem;
  fill: #fff;
}

.home header .headerLogo img {
  filter: grayscale(100) brightness(10);
}

.-mainSite.home header .headerLogo img {
  filter: none;
}

.-mainSite.home header .headerExternalSiteArchiveTitle {
  color: #222;
}

.-mainSite.home header .menuButton svg {
  fill: #222;
}

.-mainSite.home header.-menuVisible .headerExternalSiteArchiveTitle {
  color: #fff;
}

.-mainSite.home header.-menuVisible .headerLogo img {
  filter: grayscale(100) brightness(10);
}

header.-menuVisible .headerExternalButton svg {
  fill: #fff;
}

.home header.headroom--not-top .headerLogo img {
  filter: none;
}

.home header .navLinkHideOnHome {
  display: none;
}

.home header .headerMenuItem {
  display: block;
}

header .headerMenuItem.-headerAltMenuItem {
  display: none;
}

.home header .headerMenuItem.-headerAltMenuItem {
  display: none;
}

.home header.headroom--not-top .headerLogo img {
  display: block;
}

.home header.headroom--not-top .menuButton {
  padding: 11px;
  box-shadow: none;
  opacity: 1;
  background: none;
}

.home header.headroom--not-top .menuButton svg {
  width: 1.2rem;
  height: 1.2rem;
  fill: #222;
}

.home header.headroom--not-top .navLinkHideOnHome {
  display: block;
}

.home header.headroom--not-top .headerMenuItem {
  display: block;
}

.home header.headroom--not-top .headerMenuItem.-headerAltMenuItem {
  display: none;
}

.headroom--not-top .headerLogo img {
  filter: none;
  display:block;
}

header.-dark.headroom--not-top .headerLogo img {
  filter: none;
}

header.-dark.headroom--not-top.-menuVisible .headerLogo img {
  filter: grayscale(100) brightness(10);
}

.-dark.-menuVisible .headerExternalDefault a:hover {
  color: #fff;
}

header.-menuVisible {
  background: rgba(0, 0, 0, 0.9);
}

header.-menuVisible .headerMenu {
  display: block;
}

header.-menuVisible .headerExternalSiteArchiveTitle span {
  color: #fff;
}

header.-menuVisible .showMenuButton {
  display: none;
}

header.-menuVisible .hideMenuButton {
  display: block;
  color: #fff;
}

header.-menuVisible .headerExternalDefault a {
  color: #fff;
}

header.-menuVisible .headerExternalDefault a:hover {
  color: #fff;
}

header.-menuVisible .headerExternalDefault .dropdownHeaderMenu a {
  color: #222;
}

header.-menuVisible .headerLogo img,
.home header.-menuVisible.headroom--not-top .headerLogo img {
  filter: grayscale(100) brightness(10);
}

header .hideMenuButton {
  display: none;
  color: #fff;
}

header .showMenuButton {
  display: block;
}

.home header.headerExternal {
}


.headerMenuInner {
  max-width: 1100px;
  margin: 0 auto;
  width: 90%;
}

.headerExternalNav, .headerExternalSite {
  position: relative;
  z-index: 2;
}

.headerExternalSiteMenuButton i {
  font-size: 26px;
}

.headerMenuColumns {
  display: flex;
  flex-wrap: wrap;
}

.headerMenuColumns ul {
  list-style: none;
  width: 25%;
}

.headerMenuColumns a {
  display: block;
  padding: 5px 0;
  font-size: 18px;
}

.headerMenuColumns a.grandchild {
  padding: 5px 0 5px 15px;
}

.headerExternalDefault .headerMenuColumns li a {
  font-size: 18px;
  color: #bebebe;
}

.headerExternalDefault .headerMenuColumns li h4 a {
  font-weight: bold;
  color: #fff;
}

.textsearchForm input {
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 20px;
}

.headerExternal {
  position: fixed;
}

.headerExternal.-light {
  background: #fff;
}

.headerExternalSiteArchiveTitle {
  font-weight: bold;
  margin-left: 0.3rem;
}

.headerExternalSiteArchiveTitle img {
  width: 120px;
}

.headerExternalDefault {}

.headerExternalDefault .headerExternalSite {
  margin-right: 0rem;
  padding-right: 0;
}

.headerExternal.headroom--not-top {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 3px;
}

.home .headerExternal .headerExternalSiteArchiveTitle {
  color: #fff;
}

.home .headerExternal.headroom--not-top .headerExternalSiteArchiveTitle {
  color: #222;
}

.home header.headerExternal.-menuVisible.headroom--not-top .headerExternalSiteArchiveTitle {
  color: #fff;
}

.headerExternalSiteLogo {
  padding-right: 0;
}

.headerExternal.headroom--not-top .headerExternalSiteArchiveTitle {
  display: block;
}

.headerExternal.headroom--not-top a {
  color: #222;
}
.headerExternal.headroom--not-top a:hover {
  color: var(--primary-color);
}
.-menuVisible.headerExternal.headroom--not-top a {
  color: #fff;
}
.-menuVisible.headerExternal.headroom--not-top a:hover {
  color: #fff;
}
.-menuVisible.headerExternal a:hover {
  color: #fff;
}

.-menuVisible.headerExternal.headroom--not-top .dropdownHeaderMenu a:hover {
  color: var(--primary-color);
}

.headerExternal.headroom--not-top.-dark .headerExternalButton svg {
  fill: #222;
}

.headerExternal.-menuVisible.headroom--not-top.-dark .headerExternalButton svg {
  fill: #fff;
}

.-menuVisible.headerExternal.headroom--not-top .dropdownHeaderMenu a {
  color: #222;
}


.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

.-showSearch.headroom--unpinned,
.-onSearchRoute.headroom--unpinned {
  transform: translateY(0%);
}

header.-showSearch {
  overflow: auto;
  height: 100vh;
}


.headerExternalNav .avatarChip {
  width: 30px;
  height: 30px;
  margin: 0;
}

.headerExternalNav a, .headerExternalNav button.-languageSelect {
  padding: 1rem 0.2rem;
}

.headerExternalNav button.-languageSelect {
  padding: 1rem 0;
}

.languageSelectImage {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: 0;
  border: 2px solid #eee;
  background-image: url("/wp-content/themes/orpheus/static/images/us.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.languageSelectImage.-greek {
  background-image: url("/wp-content/themes/orpheus/static/images/greece.svg");
}

.headerExternalSecondaryNav a.languageOption {
  display: flex;
}

.headerExternalSecondaryNav a.languageOption .languageSelectImage {
  margin-right: 1em;
}

.headerExternalSecondaryNav {
  margin: 0;
  padding: 0.7em 0;
}

.headerExternalSecondaryNav a {
  padding: 0.7em 0.7em;
  line-height: 1.3em;
}

.headerExternalSecondaryNav a.grandchild {
  padding: 0.7em 0.7em 0.7em 1em;
  line-height: 1.3em;
}

.headerExternalSecondaryNav a:hover {
  color: var(--primary-color);
}

.-chs .-dark.headroom--top .headerExternalNav .headerExternalSecondaryNav a:hover {
  color: var(--primary-color);
}

.headerMenuToggleButton:hover .dropdownHeaderMenu {
  display: block;
}

.dropdownHeaderMenu {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #fff;
  min-width: 180px;
  position: absolute;
  top: 3.5em;
  left: 0px;
  text-align: left;
  display: none;
  padding: 0;
}

.dropdownHeaderMenu.-languageHeaderMenu {
  left: -80px;
}

.dropdownHeaderMenu.-authHeaderMenu {
  left: -6rem;
}

.-chs .-dark.headroom--top .headerExternalNav a:hover {
  color: #fff;
}

/**
 * Footer
 */
footer {
  position: relative;
  font-size: .75rem;
  padding: 7rem 4rem 2rem;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: #C7C7C7;
}


footer .logo {
  height: 6rem;
  opacity: 1;
  transition: all 100ms ease-in-out;
}

footer .logo:hover {
  filter:grayscale(0);
  opacity: 1;
}

.footerRow {
  display: flex;
  margin: 4px 0;
  justify-content: flex-end;
}

.footerHead p {
  text-align: right;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.footerLinks a {
  text-decoration: none;
  color: #222;
  margin-left: 7px;
}

.footerLinks a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.footerLegal a {
  color: #666;
}

.footerTopBorder {
  background: url("/wp-content/themes/orpheus/static/images/border.png");
  height: 2rem;
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  background-size: 2rem;
  opacity: 0.02;
}

.subscribeForm {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #fff;
  max-width: 660px;
}

.subscribeForm input {
  background: #333;
  border: none;
  color: #fff;
  font-size: .8rem;
  padding-left: 0;
}

.subscribeForm input::placeholder {
  color: #fff;
}

.subscribeForm button {
  padding: 1.5em 2em;
  background: #666;
  color: #fff;
  width: 110px;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  min-width: 110px;
}

.footerMeta {
  font-size: .75rem;
  border-top: 1px solid #e1dad2;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em;
}

.socialLinks a {
  font-size: 1.5em;
  color: #fff;
}

/**
 * Menu
 */

.listMenu {

}

.listMenu ul {
  display: flex;
  flex-wrap: nowrap;
  padding: 3em 0 0 0;
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: flex-end;
  list-style: none;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.listMenu li {
  line-height: 1.1em;
  padding: 0 1em;
  font-size: .9em;
  width: auto;
}

.listMenu li:first-child {
  padding-left: 0;
}

.listMenu li:last-child {
  padding-right: 0;
}

.listMenu li.active a,
.listMenu li.active a:hover {
  color: var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
}

.listMenu a {
  color: #979797;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  display: block;
  border-bottom: rgba(0, 0, 0, 0) solid 4px;
  padding: .75em 4px;
  transition: all 150ms ease;
}

.listMenu a:hover,
.readmore a:hover,
.tease a:hover {
  color: var(--primary-color);
}

.-volumesMenu {
  background-color: #f9f9f9;
}

.-volumesMenu h4 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: .75em 4px;
  margin: 0;
  color: #444;
}

.-volumesMenu ul {
  padding-top: 0;
  padding-bottom: 40px;
}

.-volumesMenu li {
  line-height: 1.1em;
  padding: 2em 2em 0 0;
  font-size: .8em;
}

/**
 * Cover component
 */
.cover {
  min-height: 66vh;
}

.chsCover .coverBackgroundGradient {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .8)), color-stop(30%, rgba(0, 0, 0, .6)), to(rgba(0, 0, 0, .8)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, .8), rgba(0, 0, 0, .6) 30%, rgba(0, 0, 0, .8));
  background: -o-linear-gradient(top, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, .6) 30%, rgba(0, 0, 0, .8) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, .6) 30%, rgba(0, 0, 0, .8));
}

.chsCover .coverContent {
  max-width: 1200px;
  color: #fff;
  margin: 0;
}

.chsCover .coverContent a {
  border-bottom: none;
  text-decoration: none;
}

.chsCover .coverContent p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.4);
}

.chsCover .coverContent h1 {
  margin: 20px 0;
  color: #fff;
  font-size: 65px;
  max-width: 720px;
  line-height: 1.3em;
}

.chsCover .coverContent h2.subtitle {
  margin: 20px 0;
  padding: 0;
  color: #fff;
  font-size: 18px;
  max-width: 720px;
  line-height: 1.3em;
}

.notFound .cover .coverContent h1 {
	margin: 2rem auto;
}

.notFound .cover .coverContent h2.subtitle {
	margin: 1rem auto;
  text-align: center;
}

.chsCover .coverContent h2 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  margin: 0;
  padding: 0 10px;
}

.coverCaption {
  position: absolute;
  bottom: 2em;
  right: 2em;
  font-style: italic;
  z-index: 1;
}

.coverCaption span {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.coverReadMoreButton {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.coverReadMoreButton:hover {
  transform: scale(.99);
}

.coverReadMoreButton:active {
  transform: scale(.97);
}

.coverReadMoreButton i {
  padding-left: 15px;
  font-size: 22px;
}

.chsButton.coverReadMoreButton {
  padding-left: 1em;
  margin-left: 0;
}

.chsButton.coverReadMoreButton span {
  color: #fff;
}

.single .chsCover .coverBackground {
  filter: blur(2px);
}

.chsCover .postMeta,
.chsCover .postMeta span,
.chsCover .postMeta .postDate,
.chsCover .postMeta a {
  color: #fff;
}

.chsCover .postMeta .postDate {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 3px;
}

.chsCover .postMeta .postDate.-eventDate {
  font-size: 18px;
}

.chsCover .postMeta .category {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

.chsCover .postMeta .category.-eventType {
  font-size: 24px;
}

.chsCover .postMeta .category:hover {
  color: rgba(255, 255, 255, 1);
}

.spacer {
  padding: 0 1em;
  color: rgba(255, 255, 255, 0.6);
}

.shareLinks {
  width: 100%;
  color: #fff;
  z-index: 1;
}

.shareLinks a {
  color: rgba(255, 255, 255, 0.9);
  border-radius: 100%;
  /* border: 2px solid rgba(255, 255, 255, 0.9); */
  width: 50px;
  height: 50px;
  margin-right: 5px;
  display: inline-block;
}

.shareLinks i::before {
  font-size: 24px;
}

/**
 * Post Lists and Teasers
 */
.posts.-horizontalList {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  padding: 30px 0;
  width: 90%;
  margin: 0 auto;
}

.posts.-horizontalList .tease {
  padding: 2rem 0;
}

.postsHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.postsHeaderViewAll {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.horizontalListOuter {
  width: 100%;
}

.posts.-horizontalList .tease {
  width: 31%;
}

.-horizontalList.-horizontalScroll {
  white-space: nowrap;
  overflow-x: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  max-width: none;
  padding: 30px 0;
  flex-wrap: nowrap;
}

.-horizontalList.-wrapList {
  flex-wrap: wrap;
}
.-wrapList .tease.-teaseBook:first-child {
  margin-left: 0;
}

.posts.-horizontalList.-wrapList .tease {
  width: 28%;
}

.-horizontalList.-horizontalScroll .tease {
  width: 90%;
  max-width: 40em;
  min-width: 25em;
  padding: 1em;
}

.-horizontalList.-horizontalScroll .tease:first-child {
  margin-left: 4rem;
}

.-horizontalList.-horizontalScroll .tease:last-child {
  margin-right: 6rem;
}

.tease p {
  word-break: break-word;
}

.tease .teaseImageOuter {
  overflow: hidden;
  border: 1px solid #eee;
}

.teaseImageOuter.-teaseImageOuterPlaceholder {
  border: none;
}

.tease .teaseImage {
  background-size: cover;
  background-position: center;
  filter: brightness(.95);
  transition: all 300ms ease-in-out;
}

.tease:hover .teaseImage {
  filter: brightness(1);
  transform: scale(1.01);
}

.tease {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-between;
  white-space: normal;
}

.tease p {
  font-size: 14px;
  word-wrap: break-word;
  margin: 20px 0 30px;
  color: #666;
  line-height: 1.7em;
}

.tease p a {
  font-weight: normal;
}

.tease .h2 {
  font-weight: normal;
  font-size: 22px;
  line-height: 1.3em;
  letter-spacing: 1.1px;
  margin-top: 0;
  text-align: left;
}

.tease .tease-body {
  width: 100%;
}

.tease .h2 a {
  text-decoration: none;
  color: #222;
  font-weight: bold;
}

.tease .postMeta {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #bfbfbf;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.tease .postDate {
  display: inline-block;
}

.tease .postMeta .byline {
  font-weight: 700;
  color: var(--primary-color);
}

.tease .teaseImageOuter {
  display: block;
  margin-bottom: 2em;
}

.tease .teaseImageOuter,
.tease .teaseImage {
  width: 100%;
  height: 240px;
}

.tease .postCategories {
  margin-bottom: 0.5rem;
}

.tease .readMore {
  font-size: 13px;
  letter-spacing: 2px;
  color: #222;
  text-transform: uppercase;
  text-decoration: none;
}

/* vertical list of horizontal tease cards styles */
.posts.-verticalList {
  max-width: 1180px;
}

.tease.-teaseFull {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 2em 0;
  border-bottom: 2px solid rgba(0, 0, 0, .1);
  padding-bottom: 1.75em;
}

.tease.-teaseFull.-teaseCondensed {
  width: 100%;
}

.-teaseFull .h2 {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.45em;
  letter-spacing: 1.5px;
  margin: 0.8rem 0 1.2rem;
}

.-teaseFull .h2 a {
  text-decoration: none;
  color: #222;
}

.-teaseFull .h2 a:hover {
  color: var(--primary-color);
}

.-teaseFull p {
  font-size: 15px;
  word-wrap: break-word;
  line-height: 1.75em;
  color: #444;
  letter-spacing: normal;
}

.-teaseFull .postCategories {
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.-teaseFull .postCategories a {
  text-decoration: none;
}

.postCategory {
  font-weight: bold;
  font-size: 13px;
  margin-right: 0.8em;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  line-height: 1.3em;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: left;
}

.siteCategory svg {
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.2rem;
}

.siteCategory span {
  display: inline-block;
  line-height: 1.3em;
}

.siteCategory.-classicalInquiries span {
  color: #bd4621;
}
.siteCategory.-kleos span {
  color: #3b39a5;
}
.siteCategory.-kosmos span {
  color: #19541b;
}
.siteCategory.-researchBulletin span {
  color: #880000;
}


.siteCategory.-classicalInquiries svg {
  fill: #bd4621;
}
.siteCategory.-kleos svg {
  fill: #3b39a5;
}
.siteCategory.-kosmos svg {
  fill: #19541b;
}
.siteCategory.-researchBulletin svg {
  fill: #880000;
}

.read-more {
  font-weight: normal;
}


.-teaseFull .teaseImageOuter,
.-teaseFull .teaseImage {
  width: 36%;
  height: 320px;
  margin: 1em 2em;
}

.-teaseFull .teaseImage {
  width: 100%;
  margin: 0;
}

.-teaseFull .teaseImageOuter {
  display: block;
}

.-teaseFull .postMeta {
  width: 15%;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 1em 0;
  font-size: 14px;
  color: #666;
}

.-teaseFull .postMeta span {
  display: block;
  // width: 100%;
  // text-align: right;
}

.tease.-teaseFull.-teaseCondensed .postMeta {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  margin:0;
  padding: 0 0 0.5rem 0;
}

.tease.-teaseFull.-teaseCondensed .postDate {
  display: block;
}

.tease p.dateline {
  font-size: 24px;
  color: #666;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}

.tease.-teaseCondensed p.dateline {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: none;
}

.-teaseFull .postDate {
  text-transform: uppercase;
}

.-teaseFull .postText {
  width: 40%;
  padding: 1em 0;
  color: #444;
}

.-teaseFull.-teaseCondensed .postText {
  width: 60%;
}

.-teaseNoImage.-teaseFull .postText {
  width: 90%;
}

.-teaseNoImage.-teaseFull .postText h2,
.-teaseNoImage.-teaseFull .postText p
{
  max-width: 820px;
}

.-teaseFull.-teaseCondensed .teaseImageOuter {
  margin-left: 0;
}

.-teaseFull .readMore {
  font-size: 13px;
  color: #222;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.-teaseFull .teaseActionLinks {
  display: flex;
}

.-teaseFull .teaseActionLinks .readMore {
  margin-right: 2em;
  display: flex;
  align-items: center;
}

.-teaseFull .teaseActionLinks i::before {
  font-size: 20px;
}

.-publicationsHeader {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  width: 82%;
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 2em;
}

.-publicationsHeader h3 {
  font-size: .9em;
  letter-spacing: inherit;
  text-transform: uppercase;
  font-weight: bold;
  color: #979797;
  margin: 0;
}

.-publicationsHeader a {
  font-size: .9em;
  letter-spacing: inherit;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #979797;
}

.posts.-horizontalList.-publicationsList {
  background-color: #f9f9f9;
  overflow-x: scroll;
  background-color: #f9f9f9;
  margin: 0;
  width: 100%;

}

.volume-section {
  background-color: #f9f9f9;
}

.tease.-teaseBook {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-between;
  width: 30%;
  min-width: 17em;
  margin-right: 2em;
}

.tease.-teaseBook:first-child {
  margin-left: 7em;
}

.tease.-teaseBook .teaseImageOuter {
  padding-bottom: 2em;
  width: 100%;
  max-width: 280px;
  margin: 0 auto 1em;
}

.tease.-teaseBook .teaseImage,
.tease.-teaseBook .teaseImageOuter {
  height: 360px;
}

.tease.-teaseBook hr {
  max-width: 120px;
  height: 4px;
  background: #222;
  border: none;
  outline: none;
  margin: 10px auto 30px;
}

.tease.-teaseBook h2 {
  font-size: 14px;
  margin: 0;
}

.tease.-teaseBook p {
}

.tease.-teaseBook .postMeta {
  margin-top: 0.5rem;
}

.tease.-teaseBook .readMore {
  margin-bottom: 24px;
}

.horizontalList.horizontalListAlt {
  background-color: #f9f9f9:
}

.tease.-teaseCondensed {
  width: 22%;
  justify-content: space-between;
  align-content: flex-start;
}

.tease.-teaseCondensed h2 a {
	font-family: "Silk Serif", "Times New Roman", serif;
}

.tease.-teaseCondensed p {
  font-size: 16px;
  font-family: "Noto Sans Light", sans-serif;
  margin: 15px 0 20px;
}

.tease.-teaseCondensed .postMeta {
  font-size: .7em;
}

.tease.-teaseCondensed img {
  display: none;
}

/**
 * Pages
 */

.post.-withSidebar.homeWithSidebar .articleContent {
  max-width: none;
}

.article-body .articleContent p {
  width: 90%;
  max-width: 720px;
  word-wrap: break-word;
}

.page .cover {
  min-height: 20vh;
}

.cover .titleOverline {
  margin: 0.5em 0;
  width: 120px;
  opacity: 0.5;
}

.articleContent {
  max-width: 1100px;
  margin: 0 ;
  padding: 3rem 6rem;
  min-height: 100rem;
  width: 90%;
}

.articleContent.-articleContentWithSidebar {
  max-width: none;
  margin: 0 auto;
  padding-bottom: 0;
  min-height: 500px;
  position: relative;
  width: 100%;
}

.contentMain {
  width: 100%;
  padding-right: 4em;
  padding-bottom: 6em;
}

.contentMain p {
  word-wrap: break-word;
}

.contentMain a {
  color: var(--primary-color);
  text-decoration: underline;
}
.contentMain a span {
  color: var(--primary-color);
  text-decoration: underline;
}
.contentMain a:hover {
  text-decoration: none;
}
.contentMain a:hover span {
  text-decoration: none;
}

.page hr.postContentDivider {
  height: 3px;
  border: none;
  border-radius: 2px;
  background: #ddd;
  width: 66%;
  max-width: 220px;
  margin: 2rem auto;
}

.labelCaps {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: var(--primary-color);
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.post.-informational .contentMain {
  margin: 0 auto;
}

.post.-informational .articleContent {
  min-height: 0;
}

.post.-informational .articleContent h1,
.post.-informational .articleContent h2,
.post.-informational .articleContent h3,
.post.-informational .articleContent h4,
.post.-informational .articleContent h5,
.post.-article .articleContent h1,
.post.-article .articleContent h2,
.post.-article .articleContent h3,
.post.-article .articleContent h4,
.post.-article .articleContent h5 {
  max-width: 720px;
  margin: 2rem auto;
}

.post.-article .wp-block-embed__wrapper {
  text-align: center;
}

.post.-article .wp-block-embed iframe {
  margin: 1rem auto;
}

.post.-informational .catsTags,
.post.-informational hr {
  max-width: 720px;
  margin: 2rem auto;
}

.post.-blank .articleContent h2 {
  margin: 50px auto 25px;
  max-width: 720px;
}

.post.-blank .articleContent h3 {
  margin: 50px auto 25px;
  max-width: 720px;
}

.post.-blank .articleContent h4 {
  margin: 50px auto 25px;
  max-width: 720px;
}

/**
 *  Posts
 */
.articleBody {
  padding-bottom: 3em;
}

.postHead h1 {
  margin: 1em auto 2em;
  max-width: 730px;
  width: 90%;
}

.articleContent p,
.articleContent .Paragraph,
.articleContent ul,
.articleContent ol {
  max-width: 720px;
  margin: 24px auto;
  text-align: left;
  font-size: 19px;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  line-height: 1.7em;
}

.post.-blog .articleContent figure {
  margin: 20px auto;
  width: 100%;
  text-align: center;
}

.articleContent h1, h2, h3, h4, h5 {
  max-width: 730px;
  margin: 20px 0;
  text-align: left;
}

.articleContent h1 {
  margin: 60px 0 30px;
  font-size: 42px;
}

.articleContent h2 {
  margin: 50px 0 25px;
  font-size: 36px;
}

.articleContent h3 {
  margin: 30px 0 15px;
  font-size: 28px;
}

.articleContent h4 {
  margin: 20px 0 10px;
  font-size: 22px;
}

.articleContent hr {
  max-width: 220px;
  width: 90%;
  margin: 20px 0;
}

pre.wp-block-verse {
  font-size: 19px;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}

/** Catch edge cases with Wordpress pluins that embed custom html
 * in posts */
.post.-blog #main > span, .post.-blog #main > div {
  max-width: 720px;
}


.articleH1 {
  font-size: 50px;
  text-align: center;
  max-width: 840px;
  margin: 90px auto;
  line-height: 1.3em;
}

.articleByline {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.articleByline {
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 22px;
  line-height: 1.7em;
  color: #444;
}

.postHeadLinks {
  text-align: center;
}

.postHeadLinks a {
  padding: 10px;
  text-decoration: none;
}

.postHeadLinks a:hover {
  color: var(--primary-color));
}

.postHeadLinks i {
  font-size: 20px;
}

.postCitation {
  margin: 60px auto;
}

.postCitation p {
  font-family: "Noto Sans Light", sans-serif;
  font-size: 16px;
  max-width: 720px;
  text-align: left;
}

.postCitation p label {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  display: inline;
}

.moreFromOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0 6em;
  flex-wrap:wrap;
}

.moreFrom {
  text-align: center;
  margin: 0 0.5em;
}

.-moreFromText {
  text-transform: lowercase;
  font-size: 1em;
  color: #999;
  white-space: nowrap;
}

.moreFrom a {
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 1.2rem 2.2rem;
  margin: 1rem auto;
  display: inline-block;
  text-decoration: none;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
  color: #444;
  background: #eee;
  transition: all 150ms ease;
  white-space: nowrap;
}

.moreFrom a:hover {
  background: var(--primary-color);
  color: #fff;
}

.moreFrom a:active {
}

.moreFrom.-accent a {
  background: var(--primary-color);
  color: #fff;
}

.single .cover h1 {
  font-size: 4em;
  line-height: 1.24em;
  max-width: 820px;
}

img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

.post.-blog .wp-block-image {
  max-width: 720px;
  margin: 4em 0;
}

.post.-blog .wp-block-image img {
  width: 100%;
  height: 40em;
  object-fit: contain;
  display: block;
}

.post.-blog figcaption {
  width: 600px;
  margin: 1rem auto 0;
  font-size: 14px;
}

.wp-block-image.caption-align-left figcaption {
  text-align: left;
}

.postMetaRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 0;
  flex-wrap: wrap;
}

.cover .postMetaRow {
  color: #fff;
}

.postMetaRow .articleByline {
  margin: 0;
}

.postMetaRow .articleByline {
  font-size: 28px;
}

.cover .postHeadLinks {
  padding: 1em 0 2em;
  text-align: left;
}

.cover .postHeadLinks a:first-child {
  padding-left: 0;
}

.cover .postHeadLinks a:hover {
  color: var(--primary-color);
}

/**
 * Post article
 */

 .post.-article .articleContent h1.articleH1 {
   text-align: center;
   margin: 6rem auto 3rem;
 }

.post.-article .postContentInner.-withSidebar {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.post.-article .contentMain {
  width: 66%;
}

.post.-article .mainSidebar {
  width: 33%;
}

.post.-article .sidebarSignup {
  margin: 0 2rem 2rem 0;
}

/**
 * Post blog
 */
.post.-withSidebar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.post.-withSidebar .articleContent {
  width: 70vw;
  margin: 0;
  max-width: 866px;
  padding: 3rem 3rem 6rem 6rem;
  min-height: 100vh;
}

.post.-withSidebar .mainSidebar {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 33vw;
  padding-right: 0;
}

.post.-withSidebar .mainSidebar .sidebarInner {
  padding-right: 4rem;

}

.post.-withSidebar .socialLinks {
  padding-bottom: 18rem;
}



.post.-blog .contentMain .postMeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0;
  flex-wrap: wrap;
  max-width: 720px;
}

.post.-blog .categories {
  margin-right: 1em;
}

.post.-blog .contentMain .articleByline {
  flex-wrap: wrap;
}

.post.-blog .postDate {
  font-size: 14px;
  color: #999;
  font-weight: 300;
  text-transform: uppercase;
}

.post.-blog .tease .postDate {
  font-size: 12px;
}

.post.-blog .contentMain .articleByline {
  margin: 20px 0;
}

.post.-blog .postMetaLeft {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
}

.post.-blog .avatarChip {
  margin: 0 0 0 20px;
}

.post.-blog .postHeadLinks {
  text-align: left;
}

.post.-blog .postHeadLinks a:first-child {
  padding-left: 0;
}

.post.-blog .postCitation {
  margin: 1em 0;
}

.post.-blog .contentMain hr {
  max-width: 220px;
  width: 90%;
  margin: 1em 0 3em;
}

.post.-blog .contentMain hr.wp-block-separator {
  margin: 3em 0;
}

.post.-blog .contentMain p {
  margin: 24px 0;
}

.post.-blog .contentMain h1, h2, h3, h4, h5 {
  margin: 20px 0;
}

.post.-blog .contentMain h1, h2, h3, h4, h5 {
  margin: 20px 0;
}

.post.-blog .contentMain h1 {
  margin: 60px 0 30px;
}

.post.-blog .contentMain h2 {
  margin: 50px 0 25px;
}

.post.-blog .contentMain h3 {
  margin: 30px 0 15px;
}

.post.-blog .contentMain h4 {
  margin: 20px 0 10px;
}

.post.-blog .articleContent figure {
  margin: 4em 0 2em;
}

.post.-blog .articleContent figure.aligncenter {
  margin: 4em auto 2em;
}

.post.-blog .articleContent figure img {
  width: 90%;
  max-height: 80vh;
  height: auto;
  margin: 1em auto;
  object-fit: contain;
  display: block;
}

.post.-blog .articleContent figure.is-resized img {
  width: auto;
  max-height: none;
  height: auto;
}

.-mainSite .post.-blog .articleContent figure img {
  width: auto;
  max-height: none;
  height: auto;
}

.-mainSite .post.-blog .articleContent figure {
  width: auto;
  margin: 0;
  text-align: inherit;
}

.-mainSite .post.-blog .articleContent figure.alignright {
  margin: .5em 0 .5em 1em;
}

.-mainSite .post.-blog .articleContent figure.alignleft {
  margin: .5em 1em .5em 0;
}


.pea_cook_wrapper .pea_cook_topcenter {
  bottom: 30px !important;
  top: auto !important;
  color: #fff;
}

.pea_cook_wrapper .pea_cook_topcenter p {
  color: #fff;
}

.contentMain .catsTags {
  text-align: left;
}

.contentMain .catsTags .categories,
.contentMain .catsTags .tags {
  margin: 1em 0;
  text-align: left;
  flex-wrap: wrap;
  max-width: 720px;
}

.contentMain .catsTags .category {
  font-weight: bold;
  font-size: 16px;
}

.contentMain .catsTags .tag {
  font-weight: 300;
  font-size: 14px;
  color: #999;
}

.contentMain .catsTags .tag {
  font-weight: 300;
  font-size: 16px;
  color: #444;
  padding-right: 0;
  margin-right: 0;
}

.contentMain .catsTags .tag:hover {
  color: var(--primary-color);
}

/**
 * Comments
 */
.comments {
  margin: 3em 0;
}

/**
 * Sidebar
 */
.mainSidebar {
  width: 30vw;
}

.mainSidebar .sidebarInner {
  position: relative;
  display: block;
}

.mainSidebar.-secondary .sidebarInner {
  padding-bottom: 3rem;
}

.tease.-teaseSidebar {
  margin: 1rem 0 2rem;
  display: block;
}

.-teaseSidebar a {
  display: block;
}

.-teaseSidebar a:hover h4 {
  display: block;
  color: var(--primary-color);
}

.-teaseSidebar h4 {
  font-size: 1.2rem;
  margin: 0 0 0.8rem;
  padding: 0;
  width: 100%;
  transition: all 100ms ease-in-out;
}

.-teaseSidebar .postMeta span {
  color: #666;
}

.-teaseSidebar .postMeta {
  display: flex;
  align-items: center;
  line-height: 2rem;
}


.socialLinks ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.socialLinks ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.socialLinks a {
  display: inline-flex;
  margin: 1rem 1rem 1rem 0;
  border-radius: 100%;
  width: 46px;
  height: 46px;
  background: #999;
  transition: all 100ms ease-in-out;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.socialLinks a:hover {
  background: var(--primary-color);
}

.socialLinks i::before {
  font-size: 20px;
}

.sidebarSignup {
  margin: 0 0 2rem;
  padding: 3rem 3rem 2rem;
  background: #D8D8D8;
  position: relative;
  text-align: left;
}

.sidebarSignup h4 {
  font-size: 32px;
}

.sidebarSignup p {
  font-size: 18px;
  color: #666;
  font-family: "Noto Sans", sans-serif;
}


.rp4wp-related-posts h3 {
  display: none;
}

.rp4wp-related-post-content p {
  font-size: 14px;
}

.rp4wp-related-post-content a {
  font-size: 16px;
  color: #222;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  display: block;
}

.rp4wp-related-post-content a:hover {
  color: var(--primary-color);
}

.rp4wp-related-posts ul {
  float: none !important;
}


/**
 * Archive
 */
.archive.archiveLayout {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.archiveLayout main {
  padding: 5em 3em 5em 3em;
  width: 68vw;
}

.archiveContent {
  min-height: 100vh;
}


.archiveContent > h1 {
  font-size: 2.4rem;
  margin-top: 2rem;
}

.archiveContent .posts {
  width: 100%;
}

.archiveLayout .archiveSidebar {
  padding-top: 3em;
}

.categoryHero {
  margin: 2em 0;
  position: relative;
  display: block;
  height: 30em;
  width: 100%;
  overflow: hidden;
}

.categoryHeroBackground {
  height: 30em;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  transition: all 100ms ease-in-out;
  filter: brightness(.9);
}

.categoryHeroGradient {
  position: absolute;
  height: 30em;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .8)), color-stop(50%, rgba(0, 0, 0, .6)), to(rgba(0, 0, 0, .8)));
  transition: all 100ms ease-in-out;
}

.categoryHero:hover .categoryHeroBackground {
  filter: brightness(1);
  transform: scale(1.01);
}

.categoryHero:hover .categoryHeroGradient {
  opacity: 0.8;
}

.categoryHero .categoryHeroContent {
  position: absolute;
  height: 30em;
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  color: #fff;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
}

.categoryHeroContent .h2 {
  color: #fff;
  font-size: 36px;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  text-shadow: 0 0 4px #222;
}

.categoryHeroContent .postMeta {
  font-size: 16px;
  width: 100%;
}

.categoryHeroContent .postMeta span,
.categoryHeroContent .postMeta a {
  color: #fff;
}

.categoryHeroContent .postMeta p.dateline {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.9);
	font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.teaseFull.-teaseCondensed .postMeta {
  width: 100%;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  text-align: left;
}

.teaseFull.-teaseCondensed .postMeta span {
  display: inline;
  text-align: left;
  width: auto;
  color: #666;
}

.postMetaDivider {
  padding: 0 1em;
}

.archiveLayoutSearch.archiveLayout main {
  padding: 5em 0;
  width: 90%;
  margin: 0 auto;
}

.resultsCount {
  font-style: italic;
  color: #999;
}

.searchResultsH1 {
  font-size: 2rem;
}

.searchHead {
  margin: 0 0 3em 0;
  display: flex;
  flex-wrap: none;
}

.searchHeadInput {
  border: 1px solid #999;
  font-size: 22px;
  padding: 1em;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 60px;
}

.searchHead button {
  background: #222;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 60px;
}

/**
 * Pagination
 */
.pagination {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.pagination li {
  margin: 5px;
  background: #eee;
}

.pagination li.current {
  background: transparent;
  color: #fff;
}

.pagination li.disabled {
  display: none;
}

.pagination li span, .pagination li a, .pagination li button {
  padding: 10px 15px;
  text-decoration: none;
  transition: all 100ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination li i {
  color: var(--primary-color);
}

.pagination li.first i,
.pagination li.prev i {
  margin-right: 5px;
}

.pagination li.next i,
.pagination li.last i {
  margin-left: 5px;
}

.pagination li a:hover {
  background: var(--primary-color);
  color: #fff;
}

.pagination li a:hover i {
  color: #fff;
}


/**
 * Redesign notification
 */
.redesignFeedback {
  width: 320px;
  border-radius: 40px;
  height: 60px;
  position: fixed;
  bottom: 20px;
  right: 24px;
  z-index: 99;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
  font-size: 12px;
  text-align: right;
  display:flex;
  align-items: center;
  justify-content: flex-end;
  transition: all 100ms ease-in-out;
}

.redesignFeedback:hover {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
}

.redesignFeedback span {
  padding: 8px 6em 8px 1em;
  display: block;
  line-height: 1.5em;
}

.redesignFeedback a {
  text-decoration: underline;
  color: var(--primary-color);
}

/**
 * Annotations custom
 */

#Annotations {
}

.annotationsLoadingMessage {
  width: 100vw;
  margin: 0 auto;
  padding: 2em 6em 6em;
  color: #999;
}

/**
 * Publications
 */

.tableOfContents {
  text-align: left;
  margin: 0 auto;
}

.loadingReadingEnv {
  padding: 3em 0;
  margin: 0 auto;
  width: 90%;
  max-width: 1100px;
}

.shareButtonOuter {
  position: relative;
}

#book_share_links {
  display: none;
  position: absolute;
  top: 60px;
  left: 30px;
  bottom: auto;
  right: auto;
  background: #fff;
  min-width: 0;
  width: auto;
  max-width: auto;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  padding: 0.5rem;
}

#book_share_links .postHeadLinks {
  display: flex;
  margin: 0;
}

#book_share_links .postHeadLinks a {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#book_share_links .postHeadLinks i {
  color: #444;
  line-height: 22px;
}

.rp4wp-posts-list {
  list-style: none;
  padding:0;
  margin:0;
}

.post ul.rp4wp-posts-list li {
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
}

.rp4wp-posts-list img {
  display: none;
}

.rp4wp_component_title {
	font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}

.rp4wp_component_title a {
  color: #222;
}

.rp4wp_component_title a:hover {
  color: var(--primary-color);
}

.rp4wp_component_excerpt p {
  color: #444;
}

header.-menuVisible .headerLogo img,
.home header.-menuVisible.headroom--not-top .headerLogo img,
header.-menuVisible .headerLogo:hover img,
.home header.-menuVisible.headroom--not-top .headerLogo:hover img {

  filter: grayscale(100) brightness(10);
}

.footerLeft {
  padding-right: 2rem;
}
